body{
  margin:0;
  background:black;
  color:#00ff99;
  font-family:'Bangers', cursive;
  text-align:center;
}

/* PANTALLAS */
.screen{ display:none; }
.screen.active{ display:block; }

/* LOGO */
.logo{
  font-size:70px;
  text-shadow:0 0 25px #00ff99;
}

/* CABEZA */
.pieza{
  font-size:60px;
  border:3px solid #00ff99;
  padding:10px;
  box-shadow:0 0 20px #00ff99;
}

/* BOTÓN */
.btn-enter{
  font-size:30px;
  padding:15px 40px;
  border:2px solid #00ff99;
  background:black;
  color:#00ff99;
  box-shadow:0 0 20px #00ff99;
  animation:pulse 1.5s infinite;
  margin-top:20px;
}

@keyframes pulse{
  50%{ transform:scale(1.1); }
}

/* CAMARA */
video{
  width:90%;
  border:3px solid #00ff99;
  box-shadow:0 0 20px #00ff99;
  margin-top:20px;
}

/* TABLERO */
#board{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  width:90vw;
  max-width:350px;
  margin:20px auto;
  box-shadow:0 0 20px #00ff99;
}

/* PIEZAS */
.tile{
  aspect-ratio:1;
  background-size:300% 300%;
  border:1px solid #00ff99;
  box-shadow:0 0 10px #00ff99;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:30px;
}

/* TIMER */
#timer{
  font-size:30px;
}

.alert{
  color:red;
  animation:pulse 0.5s infinite;
}

/* MENSAJE */
#overlayMessage{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:40px;
}

.win{
  color:yellow;
  text-shadow:0 0 20px yellow;
}

.lose{
  color:red;
  text-shadow:0 0 20px red;
}

/* BOTONES */
.controls{
  margin-top:15px;
}

.controls button{
  font-family:'Bangers', cursive;
  font-size:18px;
  margin:5px;
  padding:10px 20px;
  background:black;
  color:#00ff99;
  border:2px solid #00ff99;
  box-shadow:0 0 10px #00ff99;
}

/* TABLA */
#historyTable{
  margin-top:20px;
}

table{
  width:90%;
  margin:auto;
  border-collapse:collapse;
}

th, td{
  border:1px solid #00ff99;
  padding:8px;
  text-align:center;
}

th{
  background:#001a12;
}

td{
  box-shadow:0 0 5px #00ff99;
}
